

<form method="post">
    <table>
        <tr>
            <td> No1 </td>
            <td> <input type="text" name="n1" value="@ViewBag.n1" /> </td>
        </tr>
        <tr>
            <td> No2 </td>
            <td> <input type="text" name="n2" value="@ViewBag.n2" /> </td>
        </tr>
        <tr>
            <td> </td>
            <td> <input type="submit" name="b" value="Sum"/> </td>
        </tr>
        <tr>
            <td> Result</td>
            <td> <input type="text" name="n3" value="@ViewBag.Sum"/> </td>
        </tr>
    </table>
</form>



